* {
  box-sizing: border-box;
}

body {
  background-color: #f1f3fa;
}

.list-user {

  display: grid;
  max-width: 100%;
  width: 100%;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.user-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.1s, box-shadow 0.1s;
}

.user-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-item-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
}
